<% provide(:title, 'Log In') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_tag(sessions_path, class: "login-form") do %>

      <h1 class="form-title">Strmr</h1>

      <%= label_tag :email %>
      <%= text_field_tag :email %>      
        
      <%= label_tag :password %>                            
      <%= password_field_tag :password%>
     
      <%= check_box_tag :remember_me, 1 %>
      Remember Me

      <%= submit_tag "Log in", class: "btn", id: "submit-login" %>

    <% end %>

  </div>
</div>