<!DOCTYPE html>
<html>
<head>
  <title>Strmr | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "strmr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container control-bar">
    test
  </div>

  <div class="container">

    <%= yield %>

  </div>

  <%= javascript_include_tag "application" %>
  <%# yield :javascript_includes %><!-- FOR LATER -->

</body>
</html>