<!DOCTYPE html>
<html>
<head>
  <title>Strmr | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  <!-- TODO -->
  <%# yield :javascript_includes %>

</body>
</html>