<!DOCTYPE html>
<html>
<head>
  <title>Strmr | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "strmr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
  <div id="control-bar">
    <div class="container">test</div>
  </div>
  <% end %>

  <div class="container">

    <%= yield %>

    <div class="row">
      <div class="span-16" style="text-align: center; margin-top: 50px;">
        <span style="">(Temporary): </span>
        <%= link_to "Log Out", logout_path %>
      </div>
    </div>

  </div>



  <%= javascript_include_tag "application" %>
  <%# yield :javascript_includes %><!-- FOR LATER -->

</body>
</html>